*.ipynb_checkpoints
*.docx
*~
*.DS_Store
*dask-worker*
*__pycache*
post_proc_data
examples/convlstm/figures/
examples/convlstm/old_examples/model
examples/convlstm/displacement_to_predict_displacement/old_tests
examples/convlstm/predict_displacement/old_tests
